html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, h3, h4, h5 p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background-color: #FEDE37;
  font-family: sans-serif;
}

button{
  cursor: pointer;
}

footer {
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  width: 100vw;
  /*margin: 20px 0;*/
}

.copyright {
  margin-bottom: 30px;
  font-weight: bold;
}

.footer-icons > a {
  margin: 0 2px;
  color: black;
}

.footer-icons > a:hover {
  color: red;
}

.bg-box {
  background-image: url(body_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 550px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#simba-canvas {
  margin: 0 auto;
  border-radius: 5px;
  margin-bottom: 20px;
}

.instruction {
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 18;
  border: 1px solid lightgray;
}

.mute {
  border-radius: 5px;
  margin-top: 20px;
  padding: 5px;
  font-size: 14px;
  background-color: rgb(241, 120, 88);
  color: #FEDE37;
  border: 1px solid lightgray;
}
